# TMDB Movies Data Cleaning

In [17]:
# locating the Spark installation
import findspark
findspark.init()

In [18]:
# Initialize Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MovieDataCleaning").getOrCreate()

In [ ]:
# Import necessary libraries for the data cleaning process
from pyspark.sql.functions import col, expr, when, concat_ws, size, to_date, round

# Function to clean movie data
def clean_movie_data(filepath):
    # Read the Parquet file
    df = spark.read.parquet(filepath)
    # Drop irrelevant columns
    df = df.drop(*['adult', 'imdb_id', 'original_title', 'video', 'homepage'])
    # Extract collection name
    df = df.withColumn(
        "collection_name",
        when(col("belongs_to_collection").isNotNull(), col("belongs_to_collection.name")).otherwise("")
    )

    # Flatten array of genres into pipe-separated string
    df = df.withColumn(
        "genres",
        when(col("genres").isNotNull(), concat_ws("|", expr("transform(genres, x -> x.name)"))).otherwise("")
    )

    # Flatten spoken languages
    df = df.withColumn(
        "spoken_languages",
        when(col("spoken_languages").isNotNull(), concat_ws("|", expr("transform(spoken_languages, x -> x.name)"))).otherwise("")
    )

    # Flatten production countries
    df = df.withColumn(
        "production_countries",
        when(col("production_countries").isNotNull(), concat_ws("|", expr("transform(production_countries, x -> x.name)"))).otherwise("")
    )

    # Flatten production companies
    df = df.withColumn(
        "production_companies",
        when(col("production_companies").isNotNull(), concat_ws("|", expr("transform(production_companies, x -> x.name)"))).otherwise("")
    )

    # Cast names (first 5 only)
    df = df.withColumn(
        "cast_names",
        when(col("cast").isNotNull(), concat_ws("|", expr("transform(slice(cast, 1, 5), x -> x.name)"))).otherwise("")
    )

    # Directors from crew
    df = df.withColumn(
        "directors",
        when(col("crew").isNotNull(),
             concat_ws("|", expr("transform(filter(crew, x -> x.job = 'Director'), x -> x.name)"))
        ).otherwise("")
    )

    # Cast size
    df = df.withColumn(
        "cast_size",
        when(col("cast").isNotNull(), size(col("cast"))).otherwise(0)
    )

    # Crew size
    df = df.withColumn(
        "crew_size",
        when(col("crew").isNotNull(), size(col("crew"))).otherwise(0)
    )

    # Drop original JSON-like columns
    df = df.drop("belongs_to_collection","cast", "crew")

    """Convert column datatypes:
    'budget', 'id', 'popularity' → Numeric (set invalid values to NaN).
    'release_date' → Convert to datetime.
    etc """
    df = df \
        .withColumn("budget", col("budget").cast("double")) \
        .withColumn("revenue", col("revenue").cast("double")) \
        .withColumn("id", col("id").cast("long")) \
        .withColumn("popularity", col("popularity").cast("double")) \
        .withColumn("release_date", to_date(col("release_date"), "yyyy-MM-dd"))
    
    # Convert 'budget' and 'revenue' to million USD.
    df = df\
        .withColumn("budget_musd", round(col("budget")/1000000,2))\
        .withColumn("revenue_musd", round(col("revenue")/1000000,2))
    
    df_clean = df.select(
    "id", "title", "tagline", "release_date", "genres", "collection_name",
    "original_language", "budget_musd", "revenue_musd", "production_companies",
    "production_countries", "vote_count", "vote_average", "popularity", "runtime",
    "overview", "spoken_languages", "poster_path", "cast_names", "cast_size", "directors", "crew_size"
   )
    
    

    return df_clean

In [52]:
df = clean_movie_data("../data/extracted_movies_df.parquet")
df.show(5)

+------+--------------------+--------------------+------------+--------------------+--------------------+-----------------+-----------+------------+--------------------+--------------------+----------+------------+----------+-------+--------------------+----------------+--------------------+--------------------+---------+--------------------+---------+
|    id|               title|             tagline|release_date|              genres|     collection_name|original_language|budget_musd|revenue_musd|production_companies|production_countries|vote_count|vote_average|popularity|runtime|            overview|spoken_languages|         poster_path|          cast_names|cast_size|           directors|crew_size|
+------+--------------------+--------------------+------------+--------------------+--------------------+-----------------+-----------+------------+--------------------+--------------------+----------+------------+----------+-------+--------------------+----------------+--------------------+--------------------+---------+--------------------+---------+
|299534|   Avengers: Endgame|  Avenge the fallen.|  2019-04-24|Adventure|Science...|The Avengers Coll...|               en|      356.0|     2799.44|      Marvel Studios|United States of ...|     26250|         8.2|   47.7377|    181|After the devasta...| English|日本語||/ulzhLuWrPK07P1Yk...|Robert Downey Jr....|      105|Anthony Russo|Joe...|      593|
| 19995|              Avatar|Enter the world o...|  2009-12-15|Action|Adventure|...|   Avatar Collection|               en|      237.0|     2923.71|Dune Entertainmen...|United States of ...|     32162|       7.588|   26.5692|    162|In the 22nd centu...| English|Español|/kyeqWdyUXW608qlY...|Sam Worthington|Z...|       65|       James Cameron|      986|
|140607|Star Wars: The Fo...|Every generation ...|  2015-12-15|Adventure|Action|...|Star Wars Collection|               en|      245.0|     2068.22|Lucasfilm Ltd.|Ba...|United States of ...|     19695|       7.262|    14.826|    136|Thirty years afte...|         English|/wqnLdwVXoBjKibFR...|Harrison Ford|Mar...|      182|         J.J. Abrams|      257|
|299536|Avengers: Infinit...|Destiny arrives a...|  2018-04-25|Adventure|Action|...|The Avengers Coll...|               en|      300.0|     2052.42|      Marvel Studios|United States of ...|     30437|       8.235|   87.9166|    149|As the Avengers a...|        English||/7WsyChQLEftFiDOV...|Robert Downey Jr....|       69|Joe Russo|Anthony...|      724|
|181808|Star Wars: The La...|Darkness rises......|  2017-12-13|Adventure|Action|...|Star Wars Collection|               en|      200.0|      1332.7|      Lucasfilm Ltd.|United States of ...|     15556|       6.778|   45.6031|    152|Rey develops her ...|         English|/kOVEVeg59E0wsnXm...|Mark Hamill|Carri...|      110|        Rian Johnson|      213|
+------+--------------------+--------------------+------------+--------------------+--------------------+-----------------+-----------+------------+--------------------+--------------------+----------+------------+----------+-------+--------------------+----------------+--------------------+--------------------+---------+--------------------+---------+
only showing top 5 rows

In [53]:
# Save the cleaned DataFrame to a Parquet file
df.write.mode("overwrite").parquet("../data/cleaned_movies_df.parquet")